.color {
  color: orange;
}
.bg-color {
  background-color: orange;
  font-size: 20px;
  padding: 2px 20px;
  font-weight: 400;
}

.bg-color:hover {
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.5);
}
