.background {
  background-color: #1c2b35;
}
.close-button {
  background: #816117d2;
}
.header-nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.header-nav-item li {
  margin-left: 20px;
}
.header-nav-item a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  transition: all ease-in 0.3s;
}
.header-nav-item a:hover {
  color: orange;
}
.header-nav-item a:hover {
  color: orange;
}
.md-navbar {
  display: none;
}

.N-link {
  position: relative;
  padding-bottom: 10px;
}

.N-link:hover::before {
  width: 100%;
}
.N-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: orange;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .md-navbar {
    display: block;
  }
  .header-nav-item {
    display: none;
  }
}
