.box-shadow {
  box-shadow: -12px 12px #ffe0b3;
  border-radius: 8px;
}
.sizing {
  width: 50%;
}
.login-btn-bg-color {
  color: #0e161ac8;
  font-size: 22px;
  font-weight: 500;
  background-color: #ffe0b3;
  border: none;
}
.login-btn-bg-color:hover {
  background-color: #ffe0b3;
  color: #0e161ac8;
}
.content {
  margin: 5px auto;
  width: 580px;
}

.or {
  color: gray;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(#95a0a7, #95a0a7),
    linear-gradient(#95a0a7, #95a0a7);
  background-size: 40% 1px;
  background-position: center left, center right;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 5px auto;
    width: 410px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    margin: 5px auto;
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .sizing {
    width: 90%;
  }
  .content {
    margin: 5px auto;
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .content {
    margin: 5px auto;
    width: 240px;
  }
}
