.custom-link {
  margin-bottom: 0;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid #1c2b35;
  padding-top: 5px;
}

.custom-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: orange;
  transition: all 0.3s ease;
}
.custom-link:hover::before {
  width: 100%;
}
